[submodule "components/GU-Edgent"]
	path = components/GU-Edgent
	url = git@github.com:sbeanie/GU-Edgent.git
[submodule "components/bme280/driver"]
	path = components/bme280/driver
	url = git@github.com:BoschSensortec/BME280_driver.git
